* {

    box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background: #090909;
}
.container {
	max-width: 1212px;
	padding: 1em 2em;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 6fr;
	align-items: center;
}

.logo {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.logo:hover {
	color: #9a1212;
	text-decoration: none;
	color: #fff;
}
h1 {
	color: #f9f9f9;
	font-size: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr{
	text-align: center ;
}
.cabezera{
	background-color: #9a1212;
	color: #fff;
}
.eliminar {
	background-color: #b82c2c;
	color: white;
	border: none;
	padding: 9px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}
  
.eliminar:hover {
	background-color: #d32f2f;
}
.editar {
	background-color: #f55000;
	color: white;
	border: none;
	padding: 9px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}
  
.editar:hover {
	background-color: #F57C00;
}
.nuevo {
  background-color: #1d914d;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.nuevo:hover {
  background-color: #1b6d3d;
}
  .pdf {
	background-color: #dc3545;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
  }
  
  .pdf:hover {
	background-color: #c82333;
	color: #fff;
  }

  
  
  
  
  
  
  
  
  
  