* {

    box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background: #090909;
}
.container {
	max-width: 1212px;
	padding: 1em 2em;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 6fr;
	align-items: center;
}

.logo {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.logo:hover {
	color: #9a1212;
	text-decoration: none;
}
h1 {
	color: #f9f9f9;
	font-size: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr{
	text-align: center ;
}
