body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #333;
}

header {
    height: 100vh;
    background: #090909;
    position: relative;
    overflow: hidden;
    color: #fff;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: -50em;
    background: linear-gradient(45deg, #060700, #9a1212);
    width: 100%;
    height: 120%;
    transform: rotate(70deg);
    z-index: -5;
}

h1 {
    text-align: center;
    color: #f9f9f9;
    font-size: 40px;
}

.logo {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    background-color: transparent;
    border-color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos del formulario */
form {
    max-width: 550px;
    margin: auto;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

button[type="submit"] {
    background: #9a1212;
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

button[type="submit"]:hover {
    box-shadow: 0 0 20px 20px rgba(99, 12, 12, 0.5) inset;
}

/* Estilos responsivos */
@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    form {
        max-width: 100%;
    }
}

.container {
    max-width: 1212px;
    padding: 1em 2em;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

main {
    width: 100%;
    padding: 0px;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.link:hover {
    color: #9a1212;
}

/* Estilos del formulario */
.formulario__grupo {
    position: relative;
}

.formulario__grupo i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 20px;
}

.formulario__grupo-correcto i {
    color: #28a745;
}

.formulario__grupo-incorrecto i {
    color: #dc3545;
}

.formulario__input-error {
    display: none;
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.formulario__grupo-incorrecto .formulario__input-error {
    display: block;
}
